<h3>Categorical Bar Chart</h3>

<div class="row" style="height:400px" ng-controller="ChartCtrl">
  <chart data="ui.data" type="categoricalBar"></chart>
</div>

<div ng-include src="'../plugins/phoenix/partials/example_usage.html'"></div>

<!--<h4>Data Structure</h4>-->
<!--<pre class="prettyprint lang-js">{{ {size: 5} | getData }}</pre>-->

<!--<p>-->
  <!--Data is passed in through the Chart <code>Object</code>. For time series bar charts, the data key references-->
  <!--an array of objects for single series or an array of arrays of objects for stacked series.-->
<!--</p>-->

<!--<h4>Options</h4>-->
<!--<pre class="prettyprint lang-js">{{ 'bar' | getOptions }}</pre>-->
