<div class="row">
  <div class="container-fluid">
    <div class="row">
      <h2>Bar Charts</h2>
      <p>
        A bar chart is a chart that uses either horizontal or vertical bars to show comparisons among categories
        or for time series.
      </p>
    </div>
    <div class="row" ng-controller="ChartCtrl">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" type="horizontalBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" time="false" type="categoricalBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" time="false" type="column">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" stack="2" type="stackedBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" stack="2" type="percentageBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" stack="2" type="groupBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" time="false" stack="2" type="stackedCategoricalBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" time="false" stack="2" type="groupCategoricalBar">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
  </div>
</div>
