<div class="row">
  <h2>Getting Started</h2>
  <h3>Include Phx.js</h3>
  <p>
    First we need to include the <strong>phx.js</strong> library on the page. The library occupies the global
    variable <code>Phx</code>.
  </p>
  <pre class="prettyprint lang-html">&lt;script src=“phx.js”&gt;&lt;/script&gt;</pre>
  <p>Alternatively, you can use an AMD loader for JavaScript modules.</p>
  <pre class="prettyprint lang-js">// Using requirejs<br/>require([‘path/to/phx.js’], function (Phx) {<br/>  // Use Phx as normal here.<br/>  ...<br/>});</pre>
  <p>You can also grab <strong>phx.js</strong> using npm:</p>
  <kbd>npm install phx --save</kbd>
</div>
