<div class="row">
  <div class="container-fluid">
    <div class="row">
      <h2>Line Charts</h2>
      <p>
        Line charts are used to represent cumulated totals using numbers or
        percentages over time.
      </p>
    </div>
    <div class="row" ng-controller="ChartCtrl" type="line">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
    <div class="row" ng-controller="ChartCtrl" type="line" stack="3">
      <ng-include src="'../plugins/phoenix/partials/chart_section.html'"></ng-include>
    </div>
  </div>
</div>
